
header{
    
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
    color: $color-secondary;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;  
    padding: 120px 100px;
    box-shadow: 3px 3px 30px 1px black;




 
    .conteudo{
        display:flex;
        justify-content: left;
        align-items: center;
        .sobre{
            max-width: 700px;
            min-width: 500px;
            text-align: left;
            background-color: rgba(76, 6, 253, 0.575);
            padding: 20px;
            border-radius: 13px;

            h2{
                font-family: "Bebas Neue", sans-serif;
                font-size: 20px;
            }
            
            strong{
                font-size: 20px;
                color: rgb(0, 246, 250);

            }
        }
      
        img{
            width: 150px;
            height: 150px;
            border-radius: 60px;
            margin-top: -200px;
            margin-bottom: 30px;
            margin-right: 50px;
        }
      
    }

    .maisInfo{
        display: flex;
        gap: 15px;
        margin-top: 30px;
        margin: 50px 0px 100px 40px;
        
        .infoMe{
            width:50px;
            height: 50px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto 100%;
            border-radius: 10px;

            &:hover{
                background-color: rgb(123, 0, 245);
            }
        }
    }
    
   
}